* {
  margin: 0;
  padding: 0;
  color: #efefef;
  background-color: rgb(27, 27, 27) ;
  font-family: "Odibee Sans", cursive;
  
}

/* ------------------HEADER------------------------- */

#header {
  padding: 2% 15%;
  text-align: center;
  background: rgb(80, 78, 78);
}

#header > h1 {
  text-align: center;
  font-size: 50px;
  background: rgb(80, 78, 78);
}

/* ---------------------------CONTENT----------------------- */

#content {
  padding: 3% 15%;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.buttons > button {
  border: 3px white solid;
  border-radius: 10px;
  cursor: pointer;
  padding: 5%;
  font-size: 3em;
  transition: 0.3s;
}

.buttons > button:hover {
  border: 3px black solid;
  background-color: white;
}

.score {
  padding: 2% 15%;
  text-align: center;
  align-items: center;
}

.name {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.name > p {
  font-size: 35px;
}

.score {
  margin: 10px 0;
}

.score-num {
  font-size: 35px;
  margin-top: 10px;
}

.winner-text{
  font-size: 20px;
  text-align: center;
}

/* ----------------------------POPUP------------------------ */

#pop-up {
  display: none;
  font-size: 30px;
  position: fixed;
  z-index: 1;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0); 
  background: rgba(78, 78, 78, 0.4); 
}

.pop-up-content{
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%) ;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  padding: 4%;
  align-items: center;
  box-shadow: 10px 10px 10px  black;
}

.pop-up-content > button{
  font-size: 20px;
  color: black;
  color: white;
  border: 3px solid black;
  width: 160px;
  padding: 3%;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.pop-up-content > button:hover{
  background-color: #efefef;
  color: black;
}

/* --------------------MEDIA QUERIES------------------ */

@media screen and (max-width:480px){
  #header > h1 {
    margin-top: 20px;
    font-size:20px;
  }
  .name{
    display: block;
  }
  .name > p{
    font-size: 25px;
    text-align: center;
    width: 210px;
  }

  .buttons > button{
    margin-left: 10px;
  }

  .buttons{
    margin: 10px;
  }
  .winner-text{
    font-size: 15px;
  }
}


