* {
  margin: 0;
  padding: 0;
  color: #efefef;
  font-family: "Odibee Sans", cursive;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

#header {
  padding: 3% 15%;
  text-align: center;
  background-color: #b3541e;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

#header > h1 {
  font-size: 50px;
  background-color: #b3541e;
}

#content {
  background-color: #362222;
  padding: 5% 15%;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.buttons > button {
  background-color: #362222;
  border: 3px white solid;
  border-radius: 10px;
  cursor: pointer;
  padding: 5%;
  font-size: 3em;
  transition: 0.3s;
}

.buttons > button:hover {
  border: 3px black solid;
}

.score {
  padding: 2% 15%;
  text-align: center;
  align-items: center;
}

.name {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.name > p {
  font-size: 35px;
  margin-left: 20px;
}

.score {
  margin: 10px 0;
}

.score-num {
  font-size: 35px;
  margin-top: 10px;
}

.footer {
  padding: 3%;
  text-align: center;
  background-color: #12122e;
}

.footer > p {
  background-color: #12122e;
}

.left-side-image,
.inverted-image {
  background-color: #b3541e;
  width: 100px;
  height: 100px;
}

.left-side-image {
  float: left;
}

.inverted-image {
  float: right;
}
